# git ignore file

# global ignores for files in any directory

*.userprefs

# blender auto-save files...
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5

# output directories
**/bin/**
**/obj/**

# visual studio
*.suo
*.vs






